
# ignore all by default
/*
!/.git
!/.gitignore
!/README.md
!/screenshot.png

# dotfiles
!/.bashrc
!/.xinitrc

# config files
!/.config
/.config/*
!/.config/autorandr
!/.config/dunst
!/.config/fish
!/.config/git
!/.config/i3
!/.config/nvim
!/.config/picom
!/.config/polybar
!/.config/rofi
!/.config/termite
!/.config/wallpapers
!/.config/zathura
!/.config/mimeapps.list
!/.config/user-dirs.dirs
!/.config/user-dirs.locale

# ssh public keys
!/.ssh
/.ssh/*
!/.ssh/config
!/.ssh/*.pub

# scripts
!/.local
/.local/*
!/.local/bin

